body{
    background-image:url(LEONAIDOS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
}
#gg{
    color:wheat;
    font: size 200px;
}
#kratos{
    font-size: large;
    color: black;
}
label{
    font-size: large;
    color: whitesmoke;
}
video{
    position:relative;
    width: 800px;
    height: 500px;
    border: none;
}